<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @song.artist %>
</p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Description:</b>
  <%= @song.description %>
</p>

<p>
  <b>Genre:</b>
  <%= @song.genre %>
</p>
<p>
  <%= link_to "Download", @song.mp3.url(:original, false) %>
</p>
<small>
	Uploaded by: <%= @song.user.username %>
</small><br />

<% if current_user == @song.user %>
	<%= link_to 'Edit', edit_song_path(@song) %> |
<% end %>
	<%= link_to 'Back', songs_path %>

